[submodule "web"]
	path = web
	url = git@github.com:jhonattas/auditta-web.git

[submodule "contato"]
        path = contato
        url = git@github.com:jhonattas/auditta-contato.git
[submodule "front"]
	path = front
	url = git@github.com:jhonattas/auditta-web.git
